


#placeHolder{
  padding: 15px;
  vertical-align: middle; 
   margin: 0;
}


#article{
  border: 2px solid royalblue ;
  border-radius:  0px 0px 25px 25px;
  height: 100%;
  
}

#title{
  text-align: center;
  background-color: royalblue;
  color: white;
  margin: 0;
}
#summary{
 padding: 7px 2px;
 font-size: 20px;
  
}
#image{
  display:block;
  margin-right:auto;
  margin-left: auto;
  padding: 40px;
 }

 
   
   
 

footer{
   text-align: center;
}