


#placeHolder{
  padding: 15px;
   vertical-align: middle; 
  }
 
#title{
  text-align: center;
   background-color: royalblue;
    color: white;
     margin: 0;
  }
#summary{
  border-radius: 3px 3px 3px 3px;
   padding: 7px 2px;
  
}
 #image{
  display:block;
  margin-right:auto;
  margin-left: auto;
 }

 figure{
   border:2px solid royalblue ;
   
   margin: 0;
 }

footer{
   text-align: center;
}